[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pillow = "*"
django-crispy-forms = "*"
django-environ = "*"
python-decouple = "*"
boto3 = "*"
django-storages = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-user-agents = "*"
python-memcached = "*"
django-session-timeout = "*"

[dev-packages]

[requires]
python_version = "3.9"
