{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Password{% endblock %}


{% block content %}

{%if messages%}

<div class="alert alert-dark" role="alert">
    {%for message in messages %}
    {{message}}
    {%endfor%}
  </div>
{%endif%}

{% if request.user_agent.is_mobile %}
<form style="width:80%; margin:0 auto;" method="post" >
{%else%}
<form style="width:40%; margin:0 auto;" method="post" >
{%endif%}
    {% csrf_token %}
    {{form|crispy }}
    <input style="width:100%; margin:0 auto;" class="btn btn-danger" type="submit" value="Update Password" />
</form>


{% endblock %}