{% extends 'base.html' %}
{%load static%}

{% block title %}Muscles{% endblock %}

{% block content %}

    <h1 class="text-center">Muscle Map</h1>

    <div style="width:70%;" class="list-group mx-auto mt-5">
        {%for muscle in muscles%}
            <li class="list-group-item d-flex justify-content-md-around align-items-center"><span class="align-middle" >{{muscle.name}}</span><img class="float-right" style="width:auto; height:200px" src="https://wger.de{{muscle.image_url_main}}" /></li>
        {%endfor%}
    </div>

{% endblock %}

