{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}


{% block title %}Exercises{% endblock %}

{% block content %}


<link href="{% static 'css/imgclass.css' %}" rel="stylesheet" />
<div class="float-right mt-3">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
  <u>Facebook</u>
  </a>
  <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{request.build_absolute_uri}}">
    <u>Twitter</u>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{request.build_absolute_uri}}">
    <u>Linkedin</u>
  </a>
  <img src="{% static 'share.jpg' %}" alt="..." width="90px" height="90px">
</div>
{% if request.user_agent.is_mobile %}
  <div class="ml-4">
    <form  method="POST"> 
      {% csrf_token %}
      {%if check%}
        <input class="btn btn-outline-info btn-lg" type="submit" name='start' value="Start this Challenge" />
      {%else%}
        <input class="btn btn-outline-danger btn-lg" type="submit" name='stop' value="Stop this Challenge" />
      {%endif%}
    </form>


    {%if messages%}
      <div style="width:100%" class="alert alert-success" role="alert">
        {%for message in messages %}
          {{message}}
        {%endfor%}
      </div>
    {%endif%}
  </div>


  <h1 class="text-center mt-3">Exercises</h1>

  <div class="row g-0 mt-5">
    <div class="col-11">
        {%for work in workout%}
        <div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">{{work.name}}</h5>
                <p class="card-text">{{work.description | safe}}</p>
              </div>
            </div>
        </div>
        {%endfor%}
    </div>

    <div class="col-1">
      {% for i in img %}
          <img src="{{i.image}}" class="img-detail float-right mt-5" style="opacity: 0.2" alt="...">
      {% endfor %}
    </div>
  </div>



{%else%}
    <div class="ml-4">
      <form  method="POST"> 
        {% csrf_token %}
        {%if check%}
          <input class="btn btn-outline-info btn-lg" type="submit" name='start' value="Start this Challenge" />
        {%else%}
          <input class="btn btn-outline-danger btn-lg" type="submit" name='stop' value="Stop this Challenge" />
        {%endif%}
      </form>
  
  
      {%if messages%}
        <div style="width:100%" class="alert alert-success" role="alert">
          {%for message in messages %}
            {{message}}
          {%endfor%}
        </div>
      {%endif%}
    </div>
  
  
    <h1 class="text-center ">Exercises</h1>
  
        
    <div class="row g-0 mt-5">
      <div class="col-8 rounded float-left">
          {%for work in workout%}
          <div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{work.name}}</h5>
                  <p class="card-text">{{work.description | safe}}</p>
                </div>
              </div>
          </div>
          {%endfor%}
      </div>
  
      <div class="col-4 rounded float-right">
        {% for i in img %}
            <img src="{{i.image}}" class="img-detail float-right mt-5" alt="...">
        {% endfor %}
      </div>
    </div>
  
{% endif %}

{% endblock %}

