.img-workout{
    width:100%;
    height:auto;
}

.img-detail{
    width:400px;
    height:450px
}

.img-home{
    width:350px;
    height:250px
}

.avatar{
    background-color: black;
    color:chartreuse;
    font-weight: bold;
}


